<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Account</title>
  <link rel="stylesheet" href="sigup.css" />
</head>
<body>
 
<% if (error && error.length > 0) { %>
  <div style="background-color: red; color: white; padding: 10px; position: absolute; top: 10px; right: 10px; border-radius: 10px;">
    <%= error[0] %>
  </div>
<% } %>
<% if (accountd && accountd.length > 0) { %>
  <div style="background-color: rgb(0, 255, 13); color: white; padding: 10px; position: absolute; top: 10px; right: 10px; border-radius: 10px;">
    <%= accountd[0] %>
  </div>
<% } %>


  <div class="signup-container">
    <h1>Create Account</h1>
    <form action="/register" method="post" class="signup-form">
      <input type="text" name="name" placeholder="Enter your name" required />
      <input type="text" name="username" placeholder="Enter your username" required />
      <input type="email" name="useremail" placeholder="Enter your email" required />
      <input type="password" name="userpassword" placeholder="Enter your password" required />
      <input type="number" name="userage" placeholder="Enter your age" required />
      <input type="submit" value="Create Account" />
    </form>
  <a href="/login" class="login-link">Login</a>

  </div>
</body>
</html>
