<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Account</title>
  <link rel="stylesheet" href="login.css" />
</head>
<body>
  <div class="login-container">
    <h1>Login to Your Account</h1>
    <form action="/login" method="post" class="login-form">
      <input type="email" name="useremail" placeholder="Enter your email" required />
      <input type="password" name="userpassword" placeholder="Enter your password" required />
      <input type="submit" value="Login" />
    </form>
    <a href="/register">signup</a>
  </div>
</body>
</html>
